* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .card {
  color: white;
  background: #2B3040;
}

.card {
  border: 1px solid white;
}

.card-body {
  p {
    display: none;
  }

  &.show {
    p {
      display: block;
    }
  }
}