* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2B3040;
}

.container {
  width: 1440px;
  background: #2B3040;
  position: relative;
  margin: auto;
}

.main-content {
  width: 1000px;
  height: 860px;
  position: relative;
  background: #292D3ECC;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/photo.png);
  background-position: center;
  background-size: 100%;
  opacity: 0.3;
}

.game-info {
  margin: auto;
  width: 600px;
  height: 552px;
  background: #212534;
  position: relative;
  z-index: 1;

  &--buy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &__discount {
      font-size: 12px;
      line-height: 20px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      color: #FFDD3F;
    }

    &__price {
      font-size: 32px;
      line-height: 32px;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      color: #FFFFFF;
      margin-right: 50px;
    }

    &__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px 30px;
      width: 155px;
      height: 60px;
      background: #13E28D;
      border-radius: 2px;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: 0;
    }
  }
}

.headings {
  width: 100%;
  background: #2B3040;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    width: 120px;
    padding: 28px 0;

    &:hover{
path{
  fill: #FFFFFF;
}
    }

    &-icon {
      width: 24px;
      height: 22px;
      margin-bottom: 15px;
    }
  }
}

.pie {
  --p: 10;
  --b: 22px;
  --c: darkred;
  --w: 75px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #B7BACD;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, #00D4BE 98%, #0000) top/var(--b) var(--b) no-repeat,
  conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.animate {
  animation: p 1s .5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

@keyframes p {
  from {
    --p: 0
  }
}


.heading-info {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-card {
  width: 100%;
  padding: 60px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  &--heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &--photo {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &_rating {
      margin-top: 25px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
  }

  &--description {
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    &__h2 {
      font-size: 32px;
      line-height: 32px;
      color: white;
      margin: 15px 0;
      font-style: normal;
      font-weight: 400;
    }

    &__span {
      font-size: 14px;
      line-height: 20px;
      color: white;
    }

    &__text {
      font-size: 14px;
      line-height: 22px;
      color: #B7BACD;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 50px;
      margin-top: 40px;
    }
  }
}

.hidden {
  display: none;
}

.star{
  cursor: pointer;

  &-gold{
    path {
      fill: #d6a720;
    }
  }
}