.d-grid {
  display: grid;
}

.p-relative {
  position: relative;
}

.d-flex__align-items--center {
  align-items: center;
}

.d-block {
  display: block;
}

.text-uppercase {
  text-transform: uppercase;
}

.d-flex__justify--space-between {
  justify-content: space-between;
}

.d-flex__justify--space-around {
  justify-content: space-around;
}

.w {
  &-50 {
    width: 50%;
  }

  &-100 {
    width: 100%;
  }
}

.h-100 {
  height: 100%;
}

.absolute {
  position: absolute;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}