* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #F8F1EA;

  &-container{
    max-width: 1280px;
    padding: 0 100px;
    margin: 0 auto;
    width: 100%;
  }

  &-menu {
    display: flex;
    margin: 0 auto;

    &--list {
      display: flex;
      list-style: none;

      &__item {
        padding: 28px 15px;

        &-link{
          text-decoration: none;
          font-family: 'Montserrat',sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: black;
        }

        &:hover{
          background-color: #F16A50;
          * {
            color: #FFFFFF;
          }
        }
      }
    }

    &--icons{
      width: 102px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 34px;

      &__search{
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }
  }
  &-logo{
    width: 182px;
    height: 34px;
    min-width: 182px;
    min-height: 34px;
    position: relative;
  }
}

.slider {
  &--main {

    &__slide {
      position: relative;
      &-content {
        position: absolute;
        right: 100px;
        top: 120px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        text-transform: uppercase;
        color: #F8F1EA;
        width: 400px;
        margin-bottom: 50px;
      }

      &-link{}
    }

    &  img {
      width: 100%;
    }
  }
}

.slick {
  &-prev, &-next {
    color: red !important;
  }

  &-prev::before, &-next::before {
    color: initial;
    content: initial;
  }

  &-dots {
    bottom: 0;
    z-index: 99;

    li {
      button {
      }
    }
  }
}

.btn {
  padding: 15px 57px;
  border: 2px solid #000000;
  background: transparent;

  &:hover {
    cursor: pointer;
  }

  &.btn--white {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;

    &:hover {
      background: #FFFFFF;
      color: #000000;
    }
  }
}

.slick-dots {

}

.dots-hero {
  bottom: 200px !important;
  button {
    &:before {
      font-size: 20px !important;
      color: rgba(248, 241, 234, 0.7) !important;
      opacity: 1 !important;
    }
  }

  .slick-active {
    button {
        &:before {
          color: #F16A50 !important;
        }
    }
  }
}

.arrivals {
  position: relative;
  text-align: center;
  padding: 70px 40px;

  &-title{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 70px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    border: none;
    background: none;
    cursor: pointer;
    right: 0;
    width: 40px;
    height: 74px;

    &:hover {
      path {
        fill: #F16A50;
      }
    }

    &.arrivals__prev {
      left: 100px;
    }
    &.arrivals__next {
      right: 100px;
      transform: rotate(180deg);
    }
  }

  &__slider {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--card {
      width: 224px !important;
      height: 437px;
      padding: 20px 10px;
      margin: 0 10px;
      justify-content: flex-start;
      position: relative;

      .sold {
        display: none;
        color: #000000;
        background-color: #F8F1EA;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
        padding: 4px 6px;
        position: absolute;
        top: 0;
        left: 0;
      }

      .stock {
        display: block;
        background: #F16A50;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
        color: #F8F1EA;
        padding: 4px 6px;
        position: absolute;
        top: 0;
        left: 0;
      }

      border: 1px solid #F8F1EA;

      &--sold {
        border: 1px solid #F16A50;

        .sold {
          display: block;
        }

        .stock {
          display: none;
        }
      }
    }
  }
}

.arrow{
  position: absolute;
  top: 50%;
  border: none;
  background: none;
  cursor: pointer;
  right: 0;
  width: 40px;
  height: 74px;

  &.next {
    right: 100px;
    transform: rotate(180deg);
  }
}

.view-more{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  &--link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: 2px solid #000000;
    padding: 15px 57px;
    text-decoration: none;
  }
}

.partners{
  text-align: center;
  padding: 70px 40px;
  background: #F8F1EA;
  position: relative;

  &__slider {
    display: flex;
    gap: 34px;
    width: 80%;
    margin: auto;
  }

  &-title{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 58px;
  }

  &__prev{
    left: 100px;
  }
}

.footer{

 &-container{
   width: 1400px;
   height: 350px;
   background: #35312D;

   &--logo{
     width: 150px;
     height: 30px;
     top: 0;
     left: 0;

     &--menu{
       margin-top: 65px;
       text-align: left;
     }
   }
 }
}