:before,
:after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

ul {
  list-style: none;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}
.d-flex__column {
  flex-direction: column;
}

.p-relative {
  position: relative;
}

.d-flex__align-items--center {
  align-items: center;
}

.d-block {
  display: block;
}

.text-uppercase {
  text-transform: uppercase;
}

.d-flex__justify--space-between {
  justify-content: space-between;
}

.d-flex__justify--space-around {
  justify-content: space-around;
}

.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.absolute {
  position: absolute;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #F8F1EA;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }
}
.header-container {
  max-width: 1280px;
  padding: 0 100px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .header-container {
    max-width: calc(100% - 36px);
    padding: 0;
    width: 100%;
  }
}
.header-menu {
  display: flex;
  margin: 0 auto;
}
.header-menu--list {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 576px) {
  .header-menu--list {
    display: none;
  }
}
.header-menu--list__item {
  padding: 28px 15px;
}
.header-menu--list__item-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
}
.header-menu--list__item:hover {
  background-color: #F16A50;
}
.header-menu--list__item:hover * {
  color: #FFFFFF;
}
.header-menu--icons {
  width: 102px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
.header-menu--icons__search {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  width: 182px;
  height: 34px;
  min-width: 182px;
  min-height: 34px;
  position: relative;
}

.slider--main__slide {
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider--main__slide {
    height: 320px;
  }
  .slider--main__slide img {
    width: auto;
    object-fit: cover;
    height: 320px;
  }
}
.slider--main__slide-cover {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%);
}
.slider--main__slide-button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 57px;
  text-decoration: none;
  border: 2px solid #F8F1EA;
}
@media screen and (max-width: 768px) {
  .slider--main__slide-button {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px !important;
  }
}
.slider--main__slide-content {
  position: absolute;
  right: 100px;
  top: 120px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  z-index: 10;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F1EA;
  width: 400px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .slider--main__slide-content {
    right: 30px;
    line-height: initial;
    max-width: 210px;
    top: 50px;
    font-size: 26px;
  }
}
.slider--main img {
  width: 100%;
}

.slick-prev, .slick-next {
  color: red !important;
}
.slick-prev::before, .slick-next::before {
  color: initial;
  content: initial;
}
.slick-dots {
  bottom: 200px;
  z-index: 99;
}
.btn {
  padding: 15px 57px;
  border: 2px solid #000000;
  background: transparent;
}
.btn:hover {
  cursor: pointer;
}
.btn.btn--white {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.btn.btn--white:hover {
  background: #FFFFFF;
  color: #000000;
}

.dots-hero {
  bottom: 50px !important;
}
.dots-hero.dots-partners {
  bottom: -20px !important;
}
.dots-hero.dots-partners button:before {
  color: #CAC2BA !important;
}
.dots-hero button:before {
  font-size: 20px !important;
  color: rgba(248, 241, 234, 0.7) !important;
  opacity: 1 !important;
}
.dots-hero .slick-active button:before {
  color: #F16A50 !important;
}

.arrivals {
  position: relative;
  text-align: center;
  padding: 70px 40px;
}
.arrivals-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;
}
.arrivals__arrow {
  position: absolute;
  top: 50%;
  border: none;
  background: none;
  cursor: pointer;
  right: 0;
  width: 40px;
  height: 74px;
}
@media screen and (max-width: 576px) {
  .arrivals__arrow {
    display: none;
  }
}
.arrivals__arrow:hover path {
  fill: #F16A50;
}
.arrivals__arrow.arrivals__prev {
  left: 100px;
}
@media screen and (max-width: 992px) {
  .arrivals__arrow.arrivals__prev {
    left: 50px;
  }
}
.arrivals__arrow.arrivals__next {
  right: 100px;
  transform: rotate(180deg);
}
@media screen and (max-width: 992px) {
  .arrivals__arrow.arrivals__next {
    right: 50px;
  }
}
.arrivals__slider {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.arrivals__slider--card {
  width: 224px !important;
  height: 437px;
  padding: 20px 10px;
  margin: 0 10px;
  justify-content: flex-start;
  position: relative;
  border: 1px solid #F8F1EA;
}
.arrivals__slider--card .sold {
  display: none;
  color: #000000;
  background-color: #F8F1EA;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 6px;
  position: absolute;
  top: 0;
  left: 0;
}
.arrivals__slider--card .stock {
  display: block;
  background: #F16A50;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F1EA;
  padding: 4px 6px;
  position: absolute;
  top: 0;
  left: 0;
}
.arrivals__slider--card--sold {
  border: 1px solid #F16A50;
}
.arrivals__slider--card--sold .sold {
  display: block;
}
.arrivals__slider--card--sold .stock {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  border: none;
  background: none;
  cursor: pointer;
  right: 0;
  width: 40px;
  height: 74px;
}
.arrow.next {
  right: 100px;
  transform: rotate(180deg);
}
@media screen and (max-width: 992px) {
  .arrow.next {
    right: 50px;
  }
}

.view-more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.view-more--link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #000000;
  padding: 15px 57px;
  text-decoration: none;
}

.partners {
  text-align: center;
  padding: 70px 40px;
  background: #F8F1EA;
  position: relative;
}
.partners__slider {
  display: flex;
  gap: 34px;
  width: 80%;
  margin: auto;
}
.partners-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 58px;
}
@media screen and (max-width: 576px) {
  .partners__arrow {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .partners__next {
    right: -50px;
  }
}
.partners__prev {
  left: 100px;
}
@media screen and (max-width: 992px) {
  .partners__prev {
    left: 50px;
  }
}

.footer {
  background: #35312D;
  padding-top: 70px;
}
@media screen and (max-width: 992px) {
  .footer {
    padding: 70px 25px 0;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 70px 0 0;
  }
}
.footer-container {
  display: flex;
  width: 100%;
  padding: 0 150px;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .footer-container {
    padding: 0 20px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .footer-container--item {
    margin-top: 100px;
  }
}
@media screen and (max-width: 992px) {
  .footer-container {
    display: flex;
    width: 100%;
  }
  .footer-container--logo {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .footer-container--logo {
    position: absolute;
  }
}
.footer-container .menu {
  text-align: left;
}
.footer-container .menu__list > * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-container .menu__list-el__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #F8F1EA;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer-container .menu__list-el__link {
    font-size: 16px;
  }
}
.footer-container .menu__list-el__link:hover {
  color: #F16A50;
}
.footer-container__copyright {
  padding-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F8F1EA;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .footer-container__copyright {
    margin-top: 65px;
    font-size: 12px;
  }
  .footer-container__copyright > img {
    width: 100%;
  }
}
.footer-container--main {
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding: 70px 0;
  justify-content: space-between;
}
.footer-container--logo {
  height: 30px;
  margin-bottom: 35px;
}
.footer-container--contacts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer-container--contacts {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.footer-container--contacts__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #F8F1EA;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer-container--contacts__title {
    font-size: 20px;
  }
}
.footer-container--contacts__media {
  width: 100%;
  height: 37px;
  margin: 48px 0 32px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}
.footer-container--contacts__media a svg {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .footer-container--contacts__media a svg {
    width: 20px;
    height: 20px;
  }
}
.footer-container--contacts__media a:hover path {
  stroke: #F16A50;
}
.footer-container--contacts__media a:hover path.full {
  fill: #F16A50;
}
.footer-container--contacts__telephone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #F8F1EA;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer-container--contacts__telephone {
    font-size: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
